<h1 style="color: red; text-align: center;">Seletc object width on dashboard</h1>

<div style="margin-top: 25px; display: flex; align-content: center;">
    <v-button value="1X" style="margin-right: 25px;" (click)="saveOne()"></v-button>
    <p><b>Give the selected object the width of one object</b></p>
</div>
<div style="margin-top: 25px; display: flex; align-content: center;">
    <v-button value="2X" style="margin-right: 25px;" (click)="saveTwo()"></v-button>
    <p><b>Give the selected object the width of two objects</b></p>
</div>
<div style="margin-top: 25px; display: flex; align-content: center;">
    <v-button value="3X" style="margin-right: 25px;" (click)="saveThree()"></v-button>
    <p><b>Give the selected object the width of three objects</b></p>
</div>