#timeline-container {
    position: relative;
    width: 97%;
    height: 700px;
    background-color: #f8f9fa; /* Softer light grey background */
    padding: 20px;
}

#formContainer {
    position: absolute;
    top: 50px; /* Adjust as needed */
    left: 50px; /* Adjust as needed */
    z-index: 10;
    background-color: #fff; /* White background */
    padding: 20px;
    border: 1px solid #ddd; /* Light grey border */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border-radius: 10px; /* Rounded corners */
    font-family: 'Arial', sans-serif; /* Modern font */
}

#formContainer label {
    display: block;
    margin-bottom: 8px;
    color: #333; /* Dark text color */
    font-weight: bold;
}

#formContainer input, #formContainer select {
    width: calc(100% - 20px); /* Full width with padding */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px; /* Rounded corners */
    box-sizing: border-box;
    font-size: 16px;
}

#formContainer input:focus, #formContainer select:focus {
    border-color: #007bff; /* Focus border color (Bootstrap blue) */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Focus shadow */
}

#formContainer button {
    background-color: #007bff; /* Bootstrap blue background */
    color: #fff; /* White text */
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    font-size: 16px;
}

#formContainer button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.hidden {
    display: none;
}

#readValuesButton {
    background-color: #28a745; /* Bootstrap green background */
    color: #fff; /* White text */
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Space above button */
    display: block;
}

#readValuesButton:hover {
    background-color: #218838; /* Darker green on hover */
}

#report-container {
    position: static;
margin-top: -340px;    
z-index: 9999999;
}
#main {
    height: 800px; /* Set the desired height for the scrollable area */
    overflow-y: auto; /* Add scrolling if the content exceeds the height */
    display: flex;
    flex-direction: column; /* Ensure children are stacked vertically */
}

#main > div {
    flex-shrink: 0; /* Prevent child divs from shrinking */
}