.hiddenInput {
  display: none;
}

.select-elem {
  width: 100%;
}

.select-elem .dropdown-btn {
  padding: 0.25em 0.5em 0.25em 0.5em !important; /* Reduced padding */
  border: 1px solid var(--black-color) !important;
  min-height: 50px !important;
  height: auto !important;
  display: flex !important;
  align-items: flex-start !important;
  flex-wrap: wrap;
}

.v-dropdown-style .multiselect-dropdown .dropdown-btn {
  width: 100% !important;
  font-weight: 400 !important;
  text-align: left !important;
  cursor: pointer !important;
  position: relative !important;
  border: 0 !important;
  font-size: 11.5px;
  padding: 0.25em 0.5em 0.25em 0.5em !important; /* Reduced padding */
}

.v-dropdown-style .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  white-space: normal; 
  max-width: none; 
}

.v-dropdown-style .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item span {
  padding-right: 5px;
  padding-left: 7px;
}

.v-dropdown-style .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item1 {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;
  float: right !important;
}

.m22 {
  margin-left: -21px;
}

.v-dropdown-style .multiselect-dropdown .dropdown-list {
  position: absolute;
  z-index: 9999;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  left: -10px;
  min-width: 200px;
  max-width: 600px;
}

.v-dropdown-style .multiselect-dropdown .dropdown-list li {
  padding: 3px 8px !important;
  cursor: pointer;
  text-align: left;
  font-size: 12px;
}

.single-select-dropdown .dropdown-list li {
  padding: 3px 8px !important;
  cursor: pointer;
  text-align: left;
  font-size: 12px;
  margin-left: -30px;
}

.v-dropdown-style .dropdown-list {
  position: absolute;
  z-index: 9999;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  left: -10px;
  min-width: 200px;
  max-width: 300px;
  margin-top: -15px;
}

.no-filtered-data h5 {
  margin-left: 30px;
}

.v-dropdown-style {
  display: block;
  width: 100%;
  padding: 0.25em 0.5em; /* Reduced padding */
  min-height: 32px;
  height: auto;
  font-size: var(--input-font-size);
  line-height: 1.5;
  color: #495057;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.v-dropdown-style .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
  right: -5px !important;
  top: -4px !important;
}

.m33 {
  background-color: red;
}

.v-dropdown-style .multiselect-dropdown .dropdown-btn .selected-item-container {
  max-width: 110px !important;
  text-wrap: nowrap;
}

.phone-number-dropdown-style .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
  max-width: none !important; /* Prevent adjusting width based on content */
  text-overflow: ellipsis; /* Truncate long text with ellipsis */
  overflow: hidden; /* Hide overflow text */
  white-space: nowrap; /* Prevent text wrapping */
}

/* Additional styles to make .phone-number-dropdown look the same */
.phone-number-dropdown-style {
  display: block;
  width: 100%;
  padding: 0.25em 0.5em; /* Reduced padding */
  min-height: 32px;
  height: auto;
  font-size: var(--input-font-size);
  line-height: 1.5;
  color: #495057;
  background-color: transparent;
  border: 1px solid #ced4da; /* Same border */
  border-radius: 0.5rem;
  transition: background-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.phone-number-dropdown-style .multiselect-dropdown .dropdown-btn {
  width: 100% !important;
  font-weight: 400 !important;
  text-align: left !important;
  cursor: pointer !important;
  position: relative !important;
  border: 0 !important;
  font-size: 11.5px;
  padding: 0.25em 0.5em 0.25em 0.5em !important; /* Reduced padding */
}

.phone-number-dropdown-style .multiselect-dropdown .dropdown-btn .selected-item-container {
  max-width: 110px !important;
  text-wrap: nowrap;
}

.phone-number-dropdown-style .multiselect-dropdown .dropdown-list {
  position: absolute;
  z-index: 9999;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  left: -10px;
  min-width: 200px;
  max-width: 300px;
  margin-top: -15px;
}
