
.btn {
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: white;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: white;
  }
  
  .btn-success {
    background-color: #28a745;
    color: white;
  }
  
  .popup-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100vh;
    
  }
  .v-grid {
    flex-grow: 1;
    width: 100%;
  }
  
  
  
  .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .input-group.button-group{
    display: flex;
    right: 10px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    width: 16%;
    text-align: right !important;
    align-items: flex-end !important;
  }
  
  .executee-button,
  .reset-button {
    padding: 7px; 
  font-size: 15px; 
  color: #fff;
  border-radius: 5px; 
  border: none;
  cursor: pointer;
  margin-top: 20px;
    
  }
  
  .executee-button {
    background-color: #4CAF50; 
    transition: background-color 0.3s ease;
  }
  
  .executee-button:hover {
    background-color: #45a049;
  }
  
  .reset-button {
    background-color: #f44336;
    transition: background-color 0.3s ease;
  }
  
  .reset-button:hover {
    background-color: #da190b;
  }
  