<v-tabs-container>
  <v-tab *ngFor="let tab of tabs" [tabId]="tab.tabId" [tabTitle]="tab.title">
    <div class="containerTabName" reloadGridCounter>
      <div class="tabName">{{tabName}}</div>
    </div>
  </v-tab>

  <div *ngIf="showDashboard" cdkDropList class="example-list d-flex flex-wrap" (cdkDropListDropped)="drop($event)"
    style="min-width: 100%;">

    <div *ngFor="let data of allData; let i = index;" [ngClass]="{
        'col-md-4 mb-3': data.objectWidth === 1, 
        'col-md-7 mb-3': data.objectWidth === 2, 
        'col-md-11 mb-3': data.objectWidth === 3 
      }">
      
       
        <ng-container *ngIf="data.type === 'Chart'; then chart"></ng-container>
        <ng-template #chart>
          <div class="listContainer2">
          <div>
            <button class="exit-button" (click)="onExitButtonClick(data)">&times;</button>
          </div>
          <div cdkDrag class="box-container" (contextmenu)="onRightClick($event, i)">
            <!-- <div class="box"> -->
            <div class="parent-div" (click)="openSelected(data)">
              <i class="fa fa-arrows-alt icon-left" aria-hidden="true"></i>
            </div>
            <div *ngIf="selectedChartIndex === i" id="customContextMenu-{{i}}" class="custom-context-menu">
              <ul>
                <li (click)="export(data)">Export to CSV</li>
              </ul>
            </div>

            <div class="chart-row">
              <ng-container>
                <div class="chart-container" *ngIf="data.stockAd == 0">
                  <v-highcharts  id="data.ID" [Highcharts]="Highcharts" [options]="data.data[0]"></v-highcharts>
                  <div *ngIf="allData[i].description != 'null'" class="description-container">
                    <div class="description">
                      {{allData[i].description}}
                      <a *ngIf="isDescriptionLong(allData[i].description)" (click)="openSelected(data)"
                        class="read-more-link">
                        More
                      </a>
                    </div>
                  </div>
                </div>
                <div class="chart-container" *ngIf="data.stockAd == 1">
                  <v-highcharts-stocks [Highcharts]="Highcharts" [options]="data.data[0]"></v-highcharts-stocks>
                  <div *ngIf="description != 'null'" class="description-container">
                    <div class="description">
                      {{data.description}}
                      <a *ngIf="isDescriptionLong(data.description)" (click)="openSelected(data)"
                        class="read-more-link">
                        More
                      </a>
                    </div>
                  </div>
                </div>
                <div id="customContextMenu" class="custom-context-menu"></div>
              </ng-container>
            </div>
          </div>
          </div>
        </ng-template>
        <ng-container *ngIf="data.type === 'Kpi'; then KpiTemplate"></ng-container>
        <ng-template #KpiTemplate>
          <div class="listContainer2">
          <div>
            <button class="exit-button" (click)="onExitButtonClick(data)">&times;</button>
          </div>
          <div cdkDrag>
            <div class="parent-div" (click)="openSelected(data)">
              <i class="fa fa-arrows-alt icon-left" aria-hidden="true"></i>
            </div>

            <div style="width: 95%; text-align: center; margin-top: 30px; font-size: 25px; margin: 30px auto;">
              <p><b>{{data.Header[0].header}}</b></p>
            </div>
            <div style="width: 80%;text-align: center;margin-top: 30px;font-size: 25px; margin-left: 10%;">
              <p><b>{{data.Records[0].TITLE}}</b></p>
            </div>
            <div style="width: 100%;display: flex;flex-direction: row;margin-top: 30px;">
              <p style="width:50% ;text-align: center; font-size:14px">
                {{data.Records[0].COUNTRY}}
              </p>
              <p style="width:50% ;text-align: center;font-size:14px"><b>
                  {{data.Records[0].MONTH}}
                </b></p>
            </div>
            <div style="width: 100%;display: flex;flex-direction: row;">
              <p style=" width :50%;text-align: center;font-size:14px">

                {{data.Header[1].header}}
              </p>
              <p style=" width :50%;text-align: center;font-size:14px">
                {{data.Header[2].header}}
              </p>
            </div>
          </div>
          <div
            style="text-align: center; display: flex; flex-direction: row;justify-content: center;background-color: transparent;width: 100%;">
            <v-button style="font-size: 16px;margin: 0px 5px;border: none;" [fontawesome]="'fa-solid fa-chart-simple'"
              (click)="openChart(data)"></v-button>
            <v-button style="font-size: 16px;margin: 0px 5px;" [fontawesome]="'fa fa-th kpi_title_color'"
              (click)="openGrid(data)"></v-button>

          </div>
          </div>
        </ng-template>
        <ng-container *ngIf="data.type === 'Grid'; then gridTemplate"></ng-container>
        <ng-template #gridTemplate style="width: max-content;">
          <div class="listContainer2">
          <div>
            <button class="exit-button" (click)="onExitButtonClick(data)">&times;</button>
          </div>
          <div cdkDrag class="test">
            <div class="parent-div" (click)="openSelected(data)">
              <i class="fa fa-arrows-alt icon-left" aria-hidden="true"></i>
            </div>
            <div style="width: 95%; text-align: center;">
              <p><b>{{data.Title}}</b></p>
            </div>
            <v-grid id="data.ID" allowSideBar="true" [agColumns]="agColumnsJson1[gridIndexMapping(data.ID)]"
              [pagination]="true" [staticData]="data.Records" [paginationPageSize]="4" [allowPagination]="false"
              [checkInput]="true" [checkPagination]="true">
            </v-grid>
          </div>
        </div>
        </ng-template>
        
        
        <ng-container *ngIf="data.type === 'Alert'; then alertTemplate"></ng-container>
        <ng-template #alertTemplate style="width: max-content;">
          <div class="listContainerAlert">
          <div>
            <button class="exit-button" (click)="onExitButtonClick(data)">&times;</button>
          </div>
          <div cdkDrag class="test">
            <!-- <app-alert [color]="data.Color" [content]="data.record[0].content" [title]="data.Title" [id]="data.ID" (click)="generateReport(data.ID)"></app-alert> -->
            <!-- <app-alert [color]="data.Color" [content]="data.record[0].content" [title]="data.Title" [id]="data.ID" (rightClick)="onAlertRightClick($event)" ></app-alert> -->
            <app-alert [color]="data.Color" [content]="data.record[0].content" [title]="data.Title" [id]="data.ID" [functionality]="data.Functionality" (rightClick)="handleRightClickAlert($event.event, $event.functionality)" ></app-alert>

          </div>
          </div>
          <!-- Button to toggle the dropdown -->

          <div *ngIf="showDropdownMenu" [ngStyle]="{'top': dropdownPosition.top, 'left': dropdownPosition.left, 'position': 'absolute', 'z-index': '1000'}" class="custom-dropdown-cont">
            <form [formGroup]="parentForm">
              <v-dropdown
              class="custom-dropdown"
                [parentForm]="parentForm"
                fieldName="report_id"
                [dataApi]="getGeneratedReport"
                placeholder="Choose Report"
                (onChangeEvent)="onDropdownChange($event)">
              </v-dropdown>
            </form>
          </div>
        </ng-template>

        <ng-container *ngIf="data.type === 'CkEditor'; then ckEditor"></ng-container>
        <ng-template #ckEditor style="width: max-content;">
          <div>
            <button class="exit-button" (click)="onExitButtonClick(data)">&times;</button>
          </div>
          <div  cdkDrag  class="test"  >
            <div class="parent-div" (click)="openSelected(data)">
              <i class="fa fa-arrows-alt icon-left" aria-hidden="true"></i>
            </div>
            

             <div style="width: 95%; text-align: center;">
              <div *ngIf="editorIndexMapping(data.ID) as sanitizedContent">
                <div [innerHTML]="sanitizedContent"></div>
              </div>
              

          </div>
        </div>
        </ng-template>

      </div>
    </div>

  <!-- <div class="container-wrapper" *ngIf="checkVisibiltyDashboard"> -->

    <footer class="custom-container2" style="width:98% !important; margin-left: 1%; margin-right: 1%;">
      <p class="section-text">
       &copy; <span id="year"></span> Valoores. All rights reserved.   </p>
      </footer>

  <!-- </div> -->



</v-tabs-container>