<v-tabs-container>
  <v-tab *ngFor="let tab of tabs" [tabId]="tab.tabId" [tabTitle]="tab.title">
    <div class="containerTabName" reloadGridCounter>
      <div class="tabName">{{tabName}}</div>
    </div>
  </v-tab>
  
  <div class="container-wrapper" *ngIf="checkVisibiltyDashboard">
    <div class="custom-container">
      <div class="button-section">
        <div class="button-text-group">
          <button class="btn-green" style="max-width: 33%; min-width: 33%;">Alert</button>
          <p>Database Update: <b>34,854,310</b> records successfully added on <b>August 5, 2024</b>.</p>
        </div>
        <div class="button-text-group">
          <button class="btn-yellow" style="max-width: 33%; min-width: 33%;">Alert</button>
          <p><b>65</b> devices detected entering Lebanon on <b>August 5, 2024</b>.</p>
        </div>
        <div class="button-text-group">
          <button class="btn-red" style="max-width: 33%; min-width: 33%;">Alert</button>
          <p><b>5</b> devices detected entering Lebanon from suspicious areas in Syria on <b>August 5, 2024</b>.</p>
        </div>
      </div>
    </div>
  </div>
  
  

    <div *ngIf="showDashboard" cdkDropList class="example-list " (cdkDropListDropped)="drop($event)" style="min-width: 100%;">
      
      <div class="row" style="min-width: 100%;">
        <div class="col-md-4 mb-3" *ngFor="let data of allData; let i = index;" >
      <div class="box animate__animated animate__fadeIn"  style="height: 320px;">
        <div class="listContainer2">
          <!-- <div>{{ gridCounter }}</div> -->
          <div >
          <button class="exit-button" (click)="onExitButtonClick(data)">&times;</button>
        </div>
        <ng-container *ngIf="data.type === 'Chart'; then chart"></ng-container>
        <ng-template #chart>
          <div cdkDrag class="box-container" (contextmenu)="onRightClick($event, i)">
            <!-- <div class="box"> -->
            <div class="parent-div" (click)="openSelected(data)">
              <i class="fa fa-arrows-alt icon-left" aria-hidden="true"></i>
            </div>
            <div *ngIf="selectedChartIndex === i" id="customContextMenu-{{i}}" class="custom-context-menu">
              <ul>
                <li (click)="export(data)">Export to CSV</li>
              </ul>
            </div>
            <div class="chart-row">
              <ng-container>
                <div class="chart-container" *ngIf="data.stockAd == 0">
                  <v-highcharts [Highcharts]="Highcharts" [options]="data.data[0]"></v-highcharts>
                </div>
                <div class="chart-container" *ngIf="data.stockAd == 1">
                  <v-highcharts-stocks [Highcharts]="Highcharts" [options]="data.data[0]"></v-highcharts-stocks>
                </div>
                <div id="customContextMenu" class="custom-context-menu">
                
                </div>
              </ng-container>
            </div>
          <!-- </div> -->
        </div>
        </ng-template>
        
        
  


        <ng-container *ngIf="data.type === 'Kpi'; then KpiTemplate"></ng-container>
        <ng-template #KpiTemplate>
          <div cdkDrag>
            <div class="parent-div" (click)="openSelected(data)">
              <i class="fa fa-arrows-alt icon-left" aria-hidden="true"></i>
            </div>
            <div  style="width: 100%;text-align: center;">
              <p>{{data.Header[0].header}}</p>
            </div>
            <div style="width: 80%;text-align: center;margin-top: 30px;font-size: 25px; margin-left: 10%;">
              <p><b>{{data.Records[0].TITLE}}</b></p>
            </div>
            <div style="width: 100%;display: flex;flex-direction: row;margin-top: 30px;">
              <p style="width:50% ;text-align: center; font-size:14px">
                {{data.Records[0].COUNTRY}}
              </p>
              <p style="width:50% ;text-align: center;font-size:14px"><b>
                  {{data.Records[0].MONTH}}
                </b></p>
            </div>
            <div style="width: 100%;display: flex;flex-direction: row;">
              <p style=" width :50%;text-align: center;font-size:14px">

                {{data.Header[1].header}}
              </p>
              <p style=" width :50%;text-align: center;font-size:14px">
                {{data.Header[2].header}}
              </p>
            </div>
          </div>
          <div
            style="text-align: center; display: flex; flex-direction: row;justify-content: center;background-color: transparent;width: 100%;">
            <v-button style="font-size: 16px;margin: 0px 5px;border: none;" [fontawesome]="'fa-solid fa-chart-simple'"
              (click)="openChart(data)"></v-button>
            <v-button style="font-size: 16px;margin: 0px 5px;" [fontawesome]="'fa fa-th kpi_title_color'"
              (click)="openGrid(data)"></v-button>

          </div>
        </ng-template>
        <ng-container *ngIf="data.type === 'Grid'; then gridTemplate"></ng-container>
        <ng-template #gridTemplate style="width: max-content;">
          <div  cdkDrag  class="test"  >
            <div class="parent-div" (click)="openSelected(data)">
              <i class="fa fa-arrows-alt icon-left" aria-hidden="true"></i>
            </div>
            
            <!-- <div style="display: none;">{{gridIndexMapping(i)}}</div> -->
            <v-grid id="data.ID" allowSideBar="true" [agColumns]="agColumnsJson1[gridIndexMapping(data.ID)]" [pagination]="true" [staticData]="data.Records"
              [paginationPageSize]="3" [allowPagination]="false" [checkInput]="true" [checkPagination]="true">
            </v-grid>
            <!-- {{agColumnsJson1[gridIndexMapping(data.ID)] | json}}
            {{data.Records | json}} -->
          </div>
        </ng-template>
      </div>
      <!-- <pre>{{ i | json }}</pre> -->
    </div></div></div></div>
    <div class="container-wrapper" *ngIf="checkVisibiltyDashboard" >
      
      <div class="custom-container2" style="width:98% !important; margin-left: 1%; margin-right: 1%;">
          <h1 class="section-title"><b>About Valoores</b></h1>
          <p class="section-text">
              Valoores is a seasoned leader in enterprise business solutions, with 35 years of experience in financial services, cybercrime, business intelligence, analytics, and state security cloud models. We specialize in crime investigation and case management tools, serving governments, financial institutions, and retailers globally. Our innovative <strong>Valoores Crowd Investigation System (VCIS)</strong> leverages behavioral analytics to scrutinize the digital footprints of anonymous devices, enhancing crime investigation, counter-intelligence, and counter-terrorism efforts.
          </p>
      </div>
 
  </div>
     
  

</v-tabs-container>