
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.header {
  text-align: center;
  margin-top: 0;
}

.hr-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 20px auto;
}

.hr-with-text::before,
.hr-with-text::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}

.hr-with-text::before {
  margin-right: 10px;
}

.hr-with-text::after {
  margin-left: 10px;
}

.content {
  height: calc(100% - 60px);
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 10% 0; /* 10% margin from top and bottom */
}

.button-container v-button {
  margin: 0 10px; /* Margin between buttons */
}