.dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 200px; /* Adjust height as needed */
    overflow: hidden; /* Prevent scrollbars */
  }
  
  .centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center; /* Center text */
  }
  
  .query-button {
    margin-bottom: 20px;
    width: auto;
    min-width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #007bff; /* Default color or set via ngStyle */
    color: white; /* Button text color */
  }
  
  .results-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .results-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  .results-label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .results-content {
    font-size: 18px; /* Adjust font size as needed */
    padding: 10px;
    border-radius: 4px;
    margin-left: 10px; /* Space between label and content */
    margin-top: 10px;
    background: #f4f4f4; /* Light background color */
    color:#f4f4f4;
  }
  .content-wrapper{
    overflow: hidden;
  }
  .button-text {
    white-space: nowrap; /* Prevent text from wrapping to a new line */
    overflow: hidden; /* Hide text that overflows */
    text-overflow: ellipsis; /* Add ellipsis (...) to indicate overflow */
    width: 100%; /* Ensure the button takes the full width */
  }