.v-grid-top-search {
    position: relative;
}

.v-grid-top-search button {
    position: absolute;
}

#paginationSizeToggle {
    min-width: 105px;
    position: absolute;
    bottom: -9px;
    left: 10px;
}

.DisabledGrid{
    pointer-events: none;
}

.ag-theme-alpine .ag-rich-select-list {
    height: 100px !important;
}

.child-row {
    background-color: #f0f0f0; 
  }
  
  .parent-row {
    background-color: #ffffff; 
  }

  .ag-container {
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    position: relative;
    display: flex;
    flex-direction: column;
}



.agSubmitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.agSubmitBtn button {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 10px 20px;
}

.ag-theme-alpine {
    /* Set row height to 30px */
    --ag-row-height: 28px !important;
}

/* Add soft shadow-like borders between rows */
.ag-theme-alpine .ag-row {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); /* Light shadow */
    border-bottom: 0.5px solid rgba(191, 187, 187, 0.5); /* Thin border with transparency for light feel */
}

/* Ensure consistent height for rows */
.ag-theme-alpine .ag-row {
    height: 30px !important;
    line-height: 30px;
}

/* Remove borders between columns */
.ag-theme-alpine .ag-cell {
    border-right: none; /* No vertical borders between cells */
}

/* Ensure header remains unchanged */
.ag-theme-alpine .ag-header-cell {
    height: 35px !important;
    line-height: normal; /* Keep the header style as is */
}

/* Adjust cell padding to align content properly */
.ag-theme-alpine .ag-cell {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px; /* Vertically align text within the cells */
}

  
  
