<div style="font-weight: bold !important;font-family: Calibri !important;font-size: 14px !important;font-style: italic;padding: 0px 14px;"
    class="content">
    <h1 style="color: #285e8e !important;margin: 0px 10px;font-weight: bold !important;font-family: Calibri !important;font-size: 14px !important;"
        id="headerName">{{data.content}}</h1>
 
    <nav class="alertify-buttons">
        <button class="alertify-button normaleColor alertify-button-ok" id="alertify-ok" (click)="closepopup('NO')">NO</button>
        <button class="alertify-button normaleColor alertify-button-ok" id="alertify-ok" (click)="closepopup('YES')">YES</button>
    </nav>
