<input type="text" style="width: 90%;" [(ngModel)]="searchTerm" (input)="applySearch()" placeholder="Search...">


<div style="height: 300px; overflow: auto;"  #datatable>
  <table id="table">
    <thead>
      <tr>
        <th *ngFor="let column of tableColumns" (click)="applySort(column)">
          {{ column }}
          <span *ngIf="sortColumn === column">
            {{ sortDirection === 'desc' ? '▲' : '▼' }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredData | searchFilter : searchText  | paginate: config" (click)="rowClicked(item)">
        <td *ngFor="let column of tableColumns">
            {{ item[column] }}
        </td>
      </tr>
    </tbody>
  </table>
  <div  id="pagination">
  <a id="firstpage" (click)="firstpage()"><<</a>
  <a  (click)="previouspage()"> <  </a>
  <b>  {{currentPage}}  </b>
  <a (click)="nextpage()"> >  </a>
  <a (click)="lastpage()">>></a>
</div>


</div>

