input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Style the table container */
div {
 
  overflow: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Style the table */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Style the table header */
thead th {
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
  padding: 10px;
  text-align: left;
}

/* Style the sorting icon */
thead th span {
  margin-left: 5px;
}

/* Style table rows */
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style table cell data */
td {
  padding: 10px;
  text-align: left;
}

/* Highlight row on hover */
tr:hover {
  background-color: #ddd;
}

#pagination{
  text-align: center;
  height: 30px;
}

.input-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.input-container select,
.input-container button,
.input-container input[type="text"] {
  margin-right: 10px;
}

.input-container input[type="text"] {
  flex: 1; /* This will make the input expand to fill the remaining space */
  width: auto; /* Reset the width to auto to allow it to expand */
}

/* dropdown.component.css */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 6px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content span:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

