<div class="input-container">
  <!-- <span style="margin: 10px;"><i class="fa-solid fa-caret-down" style="color: #616161;"></i></span> -->
  <span style="margin: 10px;"  (click)="toggleDropdown()"><i class="fa-solid fa-caret-down" style="color: #616161;"></i></span>
 
    <!-- <button (click)="toggleDropdown()" class="dropbtn">Dropdown</button> -->
 

  <input type="text" [(ngModel)]="searchTerm" (input)="applySearch()" placeholder="Search...">
</div>


<div style="height: 300px; overflow: auto;"  #datatable>
  <div id="myDropdown" [ngClass]="{'dropdown-content': true, 'show': isDropdownOpen}" >
   <span  *ngFor="let deviceId of routeDevices" (click)="DeviceIdclicked(deviceId)">{{deviceId}}</span>
  </div>
  <table id="table">
    <thead>
      <tr>
        <th [ngStyle]='getColumnStyle(column)' *ngFor="let column of tableColumns" (click)="applySort(column)">
          {{ column }}
          <span *ngIf="sortColumn === column">
            {{ sortDirection === 'desc' ? '▲' : '▼' }}
          </span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredData | searchFilter : searchText  | paginate: config" (click)="rowClicked(item)">
        <td  [ngStyle]='getColumnStyle(column)' *ngFor="let column of tableColumns">
            {{ item[column] }}
        </td>
      </tr>
    </tbody>
  </table>
  <div  id="pagination">
  <a id="firstpage" (click)="firstpage()"><<</a>
  <a  (click)="previouspage()"> <  </a>
  <b>  {{currentPage}}  </b>
  <a (click)="nextpage()"> >  </a>
  <a (click)="lastpage()">>></a>
</div>


</div>
