    <div class="header-dialog space-between mb-3" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
      <div></div>
      <span style="font-size: 15px; letter-spacing: 1px; color: var(--popup-title-color); font-weight: bold;">Advanced Search Configuration</span>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeDialog()"></button>
    </div>

<v-grid *ngIf="showGrid"
allowSideBar="true"
[agColumns]="agColumns"
[staticData]="allGridData"
[pagination]="true"
[paginationPageSize]="15"
agToolBar="ad"
agPrimaryKey="colName"
agRowSelection="single"
(onGridAdd)="onAddClick()"
(onGridDelete)="onDeleteClick()"
(onGridUpdate)="onUpdateClick()"
></v-grid>
<form [formGroup]="advancedSearchConfigurationForm" enctype="multipart/form-data">
  <div class="row">
<div class="col-lg-4">
  <v-toggle label="Call Functions" formControlName="hasFunctionalities" [parentForm]="advancedSearchConfigurationForm" (toggleChange)="searchHasFunctions()"
  fieldName="hasFunctionalities"> 
  </v-toggle>
</div>
</div>

<div *ngIf="hasFunctions">
  <app-newbutton advancedSearchFormButtonId="{{this.data.objectId}}" isFromAdvancedSearchForm=true advancedSearchFormObjectId={{this.data.objectId}} advancedSearchActionType="{{this.data.actionType}}"></app-newbutton>  
</div>
<div>
<v-button btnActionType="submit" btnType="form" [parentForm]="advancedSearchConfigurationForm" value="Submit" (click)="submitForm()"class="submit-button"></v-button>
</div>