
<!--CONTENT-->
<div style="height:100%; overflow:hidden;">
    <!--TITLE-->
    <div class="dialog-header">
        <p class="dialog-title">Properties</p>
        <p (click)="closeDialog()" class="dialog-close">X</p>
    </div>
    <!--BODY-->
    <form [formGroup]="form">
        <v-input formControlName="name" 
                 type="text" 
                 label="BP Activity Name" 
                 required="true" 
                 [parentForm]="form"
                 fieldName="name" 
                 id="name"></v-input>

        <v-dropdown formControlName="activityNameDropdown" 
                    [required]="true" 
                    [multiple]="false"
                    [dataJSON]="ruleAction" 
                    id="activityNameDropdown" 
                    label="Activity Name" 
                    [parentForm]="form"
                    fieldName="activityNameDropdown" 
                    *ngIf="data.category === 'events'"></v-dropdown>

        <div class="v-buttons" *ngIf="data.category === 'events'">
            <v-button value="Modify" btnActionType="submit" (click)="modify(this.form.controls['activityNameDropdown']?.value)"></v-button>
            <v-button value="Create New" btnActionType="submit" (click)="createNew(this.form.controls['activityNameDropdown']?.value)"></v-button>
        </div>
    </form>

    <button class="save-button" (click)="saveChanges()">Save</button>

</div>


