html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

/* .button-container {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: start;
    
  } */

.button-container-vertical {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
  align-items: stretch;
}


.group-title {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  flex: 1;
  height: 1px;
  background-color: black;
  margin: 0 5px;
}


.right-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 100% !important;
}



button {
  padding: 5px;
  font-size: 0.8em;
  border: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-sizing: border-box;

}

button:hover {
  background-color: #0056b3;
}

/* .arrow-button {
    position: absolute;
    left: -30px;
    top: 10px;
    padding: 5px;
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
  } */
.arrow-button {
  position: absolute;
  left: -30px;
  top: 10px;
  padding: 5px;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  z-index: 99999999999999999;
}

.arrow-button i {
  font-size: 18px;
}

.slider-panel {
  position: fixed;
  right: 0;
  top: 14.5%;
  height: 75%;
  bottom: 0;
  width: 430px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.slider-panel.open {
  transform: translateX(0);
}

@media (max-height: 600px) {
  .slider-panel {
    bottom: 50%;
    transform: translateY(50%);
  }
}



.slider-panel .arrow-button {
  position: absolute;
  left: -30px;
  top: 2.55%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  line-height: 1;
  padding: 5px;
  font-size: 14px;
  cursor: pointer;
  background-color: #fff;
  color: #000;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.slider-panel .arrow-button:hover {
  transform: translateY(-50%) scale(1.1);
}

.rotate-0 {
  transform: rotate(0deg);
}

.rotate-180 {
  transform: rotate(180deg);
}

.centered-btn {
  display: flex;
  justify-content: center;
}

.my-snackbar {
  background-color: #fcfcfc;
  color: #000;
  border: 1px solid #000;
  font-size: 1.2rem;
  padding: 1em;
  border-radius: 15px;
}

@media print {
  body * {
    display: none;
    margin-top: 100px !important;
  }


  .print-only-textarea {
    display: block;
    width: 100%;
    height: 100%;
    white-space: pre-wrap;
    font-family: Arial, sans-serif;
    font-size: 16pt;
    box-sizing: border-box;
    padding: 1cm;
  }
}

.save-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.popup-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popup-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.popup-button {
  margin-left: 10px;
}

.popup-content p {
  font-weight: bold;
}


/***************************CDK DRAG AND DROP*******************************/

.example-list {
  width: 1500px;
  max-width: 100%;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/****************************List items******************************************/
.listContainer {
  position: relative;
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;

}

.listContainer1 {
  position: relative;
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

/* 
  .box {
    margin: 10px;
    padding: 20px;
    text-align: center;
    color: #fff;
    border: solid 1px #ccc;
} */


.box {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  padding: 10px;
  border: 0.5px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(1, 0, 0, 0.1);
  transition: transform 0.2s;
}


.box1 {
  flex: 0 0 calc(49% - 20px);
  margin: 10px;
  padding: 10px;
  border: 0.5px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(1, 0, 0, 0.1);
  transition: transform 0.2s;
}


/* .box:hover {
  transform: scale(1.05);
} */

.listContainer1>.box1 {
  margin: 10px;
  padding: 20px;
  text-align: center;
  color: black;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.listContainer1>.box {
  margin: 10px;
  padding: 20px;
  text-align: center;
  color: black;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.listContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#858585 1px, transparent 1px);
  background-size: 5px 5px;
  pointer-events: none;
}

.listItem {
  position: relative;
  width: 100%;
  background-color: white;
}

.listItem::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: white;
  background-size: 10px 10px;
  pointer-events: none;
}

.exit-button {
  float: right;
  top: 0;
  right: 5px;
  width: 25px;
  height: 13px;
  margin-bottom: 10px;
  background-color: transparent;
  color: #000000;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  align-items: center;
  outline: none;
  box-shadow: none;
}

.exit-button:hover {
  color: #000000;
}