#Properties{
    position: absolute;
    z-index: 999;
    background-color: white;
   left: 248px;
    top: 96px;
    border: 6px solid white;
    color: black;
    width: 300px;
    height: 200px;

}
#row{
    overflow: none;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .navigation ul li a {
    text-decoration: none;
    color: #007bff;
    cursor: pointer;
  }
  
  html {
    scroll-behavior: smooth;
  }