#Properties{
    position: absolute;
    z-index: 9999999999999;
    background-color: white;
   left: 248px;
    top: 96px;
    border: 6px solid white;
    color: black;
    width: 300px;
    height: 200px;

}
#row{
    overflow: none;
}

