<div class="header-dialog space-between mb-3" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div></div>
    <!-- <div class="dialogTitle"></div> -->
    <span style="font-size: 15px; letter-spacing: 1px; color: var(--popup-title-color); font-weight: bold;">Log Details</span>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeDialog()"></button>
  </div>

<div class="container">
    <div class="row"style="margin-bottom:10px">
  <textarea style="max-height: 300px !important;resize:none"  type="textarea" label="" 
 rows="100" cols="100" 
  [(ngModel)]="data" [readonly]="true"></textarea>
</div>
</div>