#textmenu
{-webkit-font-smoothing: antialiased;
flex: 1;
white-space: normal;
font-family: var(--mat-menu-item-label-text-font);
line-height: var(--mat-menu-item-label-text-line-height);
font-size: var(--mat-menu-item-label-text-size);
letter-spacing: var(--mat-menu-item-label-text-tracking);
font-weight: var(--mat-menu-item-label-text-weight);
padding: 11px;
    
 }

 #item{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    padding: 0;
    padding-left: var(--mat-menu-item-leading-spacing);
    padding-right: var(--mat-menu-item-trailing-spacing);
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    color: inherit;
    font-size: inherit;
    background: none;
    text-decoration: none;
    margin: 0;
    align-items: center;
    min-height: 48px;
    color: #445071;
    font-size: 13px;
    font-weight: bold;
 }

 #item:hover {
   color: #120077;
   font-size: 14px;
   /* background-color: #445071; */
 }
 