<div *ngFor="let tableOption of tableOptions1">


    <div *ngIf="tableOption.isAdvancedSearch == 1">
<v-dynamic-search [objectId]="tableOption.objectId"   [sourceQuery]="tableOption.sourceQuery" (onSearchSubmit)="onSearchSubmit($event)"></v-dynamic-search>

</div>
  <div *ngIf="test_1 == '1'">
    <v-grid *ngIf="tableOption.isGrid == 1 && tableOption.isMain == 1 && sourceQuery == '-1'" allowSideBar="true"
      [agPrimaryKey]="columnId" [agToolBar]="toolBar" [agColumns]="agColumns" [pagination]="true"
      [paginationPageSize]="8" [dataApi]="previewGridApi" [dataApiParam]="previewGridApiParam"
      (onGridAdd)="onAddClick()" (onGridUpdate)="onUpdateClick()" (onGridDelete)="onDeleteClick()" [isAdvancedSearch]="tableOption.isAdvancedSearch">
    </v-grid>

    <v-grid *ngIf="tableOption.isGrid == 1 && tableOption.isMain == 1 && sourceQuery != '-1'" allowSideBar="true"
      [agPrimaryKey]="columnId" [agToolBar]="toolBar" [agColumns]="agColumns" [pagination]="true"
      [paginationPageSize]="8" [dataApiParam]="previewGridApiParam" [staticData]="gridStaticData"
      (onGridAdd)="onAddClick()" (onGridUpdate)="onUpdateClick()" (onGridDelete)="onDeleteClick()" [isAdvancedSearch]="tableOption.isAdvancedSearch">
    </v-grid>

    <!-- <div *ngFor="let fields of test">
      <div *ngIf="fields.columnTypeCode == 14 && fields.mainAndPreview == true" class="button-container-2">
        <v-button value="{{ fields.name }}" btnActionType="button" id="field_{{ fields.id }}"
        (click)="onShowButtonForm(fields.id)"></v-button>
      </div>
    </div> -->

    <div style="display: inline-block;" *ngFor="let fields of test">
      <div *ngIf="fields.columnTypeCode == 14 && fields.mainAndPreview == true" style="display: inline-block; margin-right: 10px;">
        <v-button style="margin-right: 10px;" value="{{ fields.name }}" btnActionType="button" id="field_{{ fields.id }}" (click)="onShowButtonForm(fields.id)"></v-button>
      </div>
    </div>
    
    
  </div>
</div>
