<div class="row mt-3 mb-3">
    <div class="fieldset">
        <hr class="my-4">
        <span>{{ title }}</span>
        <div class="button-container" *ngIf="fromInDisplay">
            <button class="icon-button" (click)="onFieldSetBtnModifyFn()" type="button">
                <i class="fa fa-cog"></i>
            </button>
            <button class="icon-button" (click)="onFieldSetBtnAddFn()" type="button">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
            <button class="icon-button" (click)="onFieldSetBtnDeleteFn()" type="button">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</div>