<form [formGroup]="passwordSettings">
  <div class="container">
    <div class="row">

      <div class="col-lg-4">
        <v-input style="width: 100%;" formControlName="minimumLength" type="text" label="Minimum Length "
          placeholder="Minimum Length" required="true" [parentForm]="passwordSettings"
          fieldName="minimumLength"></v-input>
      </div>
      <div class="col-lg-4">
        <v-input style="width: 100%;" formControlName="minimumNumberOfDigits" type="text"
          label="Minimum Number Of Digits " placeholder="Minimum Number Of Digits" required="true"
          [parentForm]="passwordSettings" fieldName="minimumNumberOfDigits"></v-input>
      </div>
      <div class="col-lg-4">
        <v-input style="width: 100%;" formControlName="MNOUL" type="text" label="Minimum Number of Uppercase Letters "
          placeholder="Minimum Number of Uppercase Letters" required="true" [parentForm]="passwordSettings"
          fieldName="MNOUL"></v-input>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <v-input formControlName="MNOLL" type="text" label="Minimum Number of Lowercase Letters "
          placeholder="Minimum Number of Lowercase Letters" required="true" [parentForm]="passwordSettings"
          fieldName="MNOLL"></v-input>
      </div>

      <div class="col-lg-6">
        <v-input formControlName="MNOSC" type="text" label="Minimum Number of Special Characters "
          placeholder="Minimum Number of Special Characters" required="true" [parentForm]="passwordSettings"
          fieldName="MNOSC"></v-input>
      </div>
    </div>
    <div class="row">

      <div class="col">
        <v-input formControlName="NOPIH" [radioData]="radioData" type="radio" label="History of Passwords"
          required="true" [parentForm]="passwordSettings" fieldName="NOPIH"></v-input>
      </div>
    </div>

    <div class="row " style="height:200px">

      <div class="col ">
        <v-input formControlName="IPUF" [radioData]="radioData1" type="radio" label="Password Expiration"
          required="true" [parentForm]="passwordSettings" fieldName="IPUF" id="passwordSettings.controls.IPUF.value">

        </v-input>
      </div>
      <div class="col ">
        <div class="row justify-content-start">
          <div class="col" *ngIf="passwordSettings.controls['IPUF'].value === '2'">

            <v-input style="width:50%;" formControlName="expirationDate" type="date" placeholder="Date"
              [parentForm]="passwordSettings" fieldName="expirationDate" ></v-input>
          </div>
          <div class="row align-items-end" *ngIf="passwordSettings.controls['IPUF'].value === '3'">

            <div class="col ">

              <div class="col">
                <v-dropdown formControlName="Period" placeholder="Period" [dataApi]="comboPeriod" fieldName="Period"
                  [parentForm]="passwordSettings" ></v-dropdown>

              </div>
            </div>

            <div class="col">
              <v-input formControlName="expirationPeriod" type="text" placeholder="period no" [parentForm]="passwordSettings"
              fieldName="expirationPeriod"></v-input>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <div class="d-flex justify-content-center fixed-bottom mb-3">
          <v-button class="defaultBtn" btnActionType="submit" btnType="form" [parentForm]="passwordSettings"
            value="Save" (click)="submitForm()">
          </v-button>
        </div>
      </div>
    </div>
  </div>

</form>
