.group-title {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .line {
    flex: 1;
    height: 1px;
    background-color: black;
    margin: 0 5px;
  }

  #allParamInputs {
    flex-wrap: wrap;
  }
  
  .row {
    padding: 0 10px; /* Optional: Add padding between fields */
  }
  


  #allButtons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  