
<!-- <v-grid allowSideBar="true"
 sizeColumnsToFit="true"
     agToolBar="amd" 
    agPrimaryKey="gridId" 
    (onGridAdd)="onAddClick()" 
    (onGridDelete)="onDeleteClick()"
    (onGridUpdate)="onUpdateClick()">
</v-grid> -->
<v-grid
allowSideBar="true"
[dataApi]="getMasterLinks"
[agColumns]="agColumns"
[pagination]="true"
[paginationPageSize]="15"
agToolBar="ad"
agPrimaryKey="masterId,masterQueryId"
agRowSelection="single"
(onGridAdd)="onAddClick()"
(onGridDelete)="onDeleteClick()"
(onGridUpdate)="onUpdateClick()"
></v-grid>