.button-container-0 {
  display: inline-flex;
  flex-direction: row-reverse;
  gap: 5px;
  justify-content: start;
  align-items: center;
  width: 100%;
  min-height: 82px;
}

.button-container-0 button {
  text-align: right;
}

.button-container-00 {
  display: flex;
  flex-direction: column;
  gap: 0;
  padding-top: 26px;
}

.button-container-1 {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-end;
}

.button-container-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.labelForButton {
  font-size: 14px;
}

.required::before{
  content: '*';
  color: red;
}

.checkDesign {
  transform: scale(1.5); /* Adjust the scale factor for the checkbox size */
  margin-right: 10px;
  display: flex;
  align-items: center;
  height: 15px;
  width: 15px;
  padding-right: 20px;
}

/* :host ::ng-deep .nav.nav-tabs.mt-3 {
  position: fixed;
  background-color: white; 
  top: 160px; 
  width: 75%;
  z-index: 1000; 
} */

.body {
  position: relative;
}

.header-dialog {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .header-dialog {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  max-width: 75%;
  justify-content: space-between;
  background: white;
  z-index: 1000;
  top: 0;
} */

.tab-content {
  overflow-y: auto;
}  

.requiredMessage{
  color: red;
  font-size: 16px;
  position: absolute;
  top: 100%;
  left: 5px;
  font-weight: bold;
}
.dialogTitle{
  font-size: 18px;
  letter-spacing: 1px;
  color: var(--popup-title-color);
  font-weight: bold;
}

.hidden {
  display: none;
}
.v-input-style{
  min-height: 30px;
  max-height: 40px;
  margin: 0 !important;
  padding: 0 !important;
}
.col-lg-5{
  padding: 0 0 0 12px !important;
  /* max-width: fit-content !important; */
}
.col-lg-7{
  padding: 0 !important;
}
.col-lg-12{
  padding: 0 !important;
}
.mb-3.col-lg-4{
  margin:0.1% 0% -0.5% 0% !important;
  height: fit-content -5px !important;
  max-height: fit-content /*-5%*/ !important;
  gap: 1px;
  padding: 0 ;
}
.col-md-2{
  max-height: 70px !important;
  height: 35px;
}
.required.label-required{
   max-height: 80px !important;
   display: block; 
    overflow:hidden; /*Hides overflowed text */
   text-overflow: ellipsis; /* Adds ellipsis (...) for overflowed text */
   white-space: wrap; /* Prevents the text from wrapping */
   margin: -2% 0 -2% 10px !important;
   /* For multi-line truncation */
   display: -webkit-box; /* Necessary for WebKit-based browsers */
   -webkit-line-clamp: 3; /* Number of lines to show before truncating */
   -webkit-box-orient: vertical; /* Vertical stacking for box orientation */
}
.form-group .row{
    
}
.fieldset{
  margin-top: 0.1% !important;
  margin-bottom: -15px !important;
  max-height: 40px !important;
 }
 .nav-tab{
  max-height: 45px !important;
 }
 .nav-tabs{
  max-height: 45px !important;

 }
.test-cb-container{

  margin-top:initial;
 /* height: max-content;
 width: max-content; */
 padding: 20px;
 display: flex ;
 /* flex-direction: row; */
 /* flex-basis: content; */
 
 gap: 40px; 

}
.col-lg-12{
  height: fit-content;
}
.form-group.row.fieldsetElem{
  /* margin-bottom: 0 !important;
  margin:50px 50px 50px 50px; */
}
/* .form-ele-parent.row.test-cb-container.align-items-center.col-lg-5.col-md-5.col-sm-12{
  width: 300px;
} */

.form-group .row.mb-3{
height: fit-content !important;
margin: 0px 20px 0px 0px !important;
}
.row.mb-3{
  margin: 100px 100px 100px 100px !important;
}

.form-ele-parent .row {
  display: flex;
  flex-wrap: wrap; /* Ensures elements wrap if they don't fit in a single row */
  align-items: center; /* Vertically aligns checkboxes and labels */
}

.form-ele-child {
  display: flex;
  align-items: center;
  flex-wrap: nowrap; /* Aligns the checkbox and its content vertically */
}

.mat-checkbox {
  margin-right: 10px; /* Space between the checkbox and its content */
}

.label {
  /* Display block to ensure full width */

}
.row {
  display: flex;
  margin: 0px !important;
  /* flex-wrap: nowrap; Prevents wrapping of flex items */
}

.label-tooltip-container {
  position: relative;
  display: inline-block;
}

.label-text-truncate {
  display: inline-block;
  min-width: 80px !important;
  max-width: 80px !important;
  white-space: wrap ;
  /* overflow: hidden !important; */
  text-overflow: ellipsis !important;
  vertical-align: middle;
}

.label-tooltip-text {
  font-size: small;
  font-weight: bold;
  display: none; /* Hide tooltip by default */
  position: absolute;
  top: 0; /* Adjust top position as needed */
  left: 0; /* Adjust left position as needed */
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 5px;
  border-radius: 5px;
  z-index: 9999;
  max-width: 250px; /* Adjust as needed */
  white-space: normal;
}
/* .label-tooltip-text {
  background-color: aqua !important;
} */
.label-tooltip-container:hover .label-tooltip-text{
  display: block !important;
  opacity: 1 !important;
}
/* .label-tooltip-container:focus-within .label-tooltip-text {
  display: block !important;
  opacity: 1 !important;  
} */
/* .label-tooltip-container:hover .required.label-required{
  display: none;
}
.label-tooltip-container:hover .label-text-truncate {
  display: none;
} */
.label-tooltip-container:hover .label {
  display: none; /* Hide label when tooltip is visible */
}

.label-tooltip-container:focus-within .label {
  display: none; /* Hide label when tooltip is visible */
}
.label {
  display: inline-block;
}
.row.mt-2{
  margin-bottom: 1px !important;
}

:host ::ng-deep v-button .defaultBtn {
  /* Target specific classes or elements within v-button */
  padding: 10px 10px 10px 10px !important;
  margin-bottom: 5px !important;
}

/* :host ::ng-deep .multiselect-dropdown[_ngcontent-ng-c692748064] .dropdown-btn[_ngcontent-ng-c692748064] .selected-item-container[_ngcontent-ng-c692748064] .selected-item[_ngcontent-ng-c692748064] span[_ngcontent-ng-c692748064] {
  text-wrap: nowrap !important;
}

:host ::ng-deep .multiselect-dropdown[_ngcontent-ng-c692748064] .dropdown-btn[_ngcontent-ng-c692748064] .selected-item-container[_ngcontent-ng-c692748064] .selected-item[_ngcontent-ng-c692748064] span[_ngcontent-ng-c692748064] {
  text-wrap: nowrap !important;
}
:host ::ng-deep .v-dropdown-style .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item span{
  text-wrap: nowrap !important;
} */

/* :host ::ng-deep v-dropdown .v-dropdown-style .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {

  white-space: nowrap !important; /* Prevent text from wrapping */
/*} */
.v-dropdown-style .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
  white-space: nowrap !important; /* Prevent text from wrapping */
}

.phone-number-dropdown-style{
  min-width: 90px !important;
}
 .multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret {
  right: -5px !important;
  top: -4px !important;
}

.align-items-center .col-lg-5 .col-md-5 .col-sm-12{
  width: 100px !important;
}
@media (max-width: 768px) {
  .form-ele-parent .row {
    flex-direction: column; /* Stack items vertically on smaller screens */
    align-items: flex-start; /* Align to the start on smaller screens */
  }

  .form-ele-child {
    width: 100%; /* Ensure that the checkbox takes full width in smaller screens */
    margin-bottom: 10px; /* Space between checkbox elements */
  }
  .mat-checkbox {
    width: auto; /* Prevent checkbox from stretching */
  }
  .label{
    padding: 15px 5px;
  }
  .required.label-required{
    max-height: fit-content;
    margin-right:initial !important;
  }
  .label-tooltip-text {
    max-width: 200px; /* Adjust as needed */
  }
}