<div class="header-dialog space-between mb-3" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div></div>
    <div class="dialogTitle"></div>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeDialog()"></button>
</div>

<form [formGroup]="newCustomField">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <v-input formControlName="description" type="text" [parentForm]="newCustomField" label="Field Description"
                fieldName="description"></v-input>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <v-dropdown formControlName="commonColumn" [dataJSON]="allColumnsData" label="Common Column"
                [parentForm]="newCustomField" fieldName="commonColumn" [readonly]="true"></v-dropdown>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <v-input formControlName="commonVal" type="text" [parentForm]="newCustomField" label="Common Value"
                fieldName="commonVal"></v-input>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <v-dropdown formControlName="destinationField" [dataJSON]="allColumnsData" label="Destination Field"
                [parentForm]="newCustomField" fieldName="destinationField" [readonly]="true"></v-dropdown>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <v-dropdown formControlName="table" [dataApi]="getTablesLinkedToForm" label="Table"
                [parentForm]="newCustomField" fieldName="table" [readonly]="true"></v-dropdown>
        </div>
    </div>
    <div class="row form-submit">
        <v-button btnActionType="submit" btnType="form" [parentForm]="newCustomField" value="Save"
            (click)="submitForm()"></v-button>
    </div>
</form>