.label-required-span {
    color: var(--red-color);
    font-size: 14px;
}

label {
    font-size: 14px;
    font-weight: 500;
}

small {
    color: gray;
    font-size: 10px;
    font-weight: lighter;
}