<div class="popup-overlay"></div>
<div id="moreInfo" class="popup hide">
  <div class="popup-close" id="closeMoreInfo" (click)="closePopup()">
    <svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
  </div>
  <div id="popupContent" >

    <ng-content></ng-content>

  </div>
</div>

