.mat-radio-button {
    display: flex !important;
    flex-direction: column;
    margin-bottom: 5px;
    align-items: flex-start;
}

.mat-checkbox-button {
    min-height: 50px;
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.inputIcon {
    top: -5px !important;
    font-size: 14px !important;
}

.input-elem-error {
    color: var(--red-color) !important;
}
  
.radio-elem-error .mat-radio-outer-circle {
    border-color: var(--red-color) !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent !important;
}