
#cy {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
/* #switch-layout-btn {
  position: relative;
  background-color: #ffffff;
  border: 2px solid #2f2f2f;
  border-radius: 5px;
  color: #2f2f2f;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  top: 10px;
  left: 10px;
}

#dark-mode-toggle {
  position: relative;
  background-color: #ffffff;
  border: 2px solid #2f2f2f;
  border-radius: 5px;
  color: #2f2f2f;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  top: 10px;
  left: 10px;
} */
/* #addNode {
  position: relative;
  background-color: #ffffff;
  border: 2px solid #2f2f2f;
  border-radius: 5px;
  color: #2f2f2f;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  top: 10px;
  left: 10px;
} */
/* #searchNode {
  position: relative;
  background-color: #ffffff;
  border: 2px solid #2f2f2f;
  border-radius: 5px;
  color: #2f2f2f;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  top: 10px;
  left: 10px;
}

#switch-layout-btn:hover {
  background-color: #2f2f2f;
  color: #ffffff;
  top: 10px;
  left: 10px;
}

#dark-mode-toggle:hover {
  background-color: #2f2f2f;
  color: #ffffff;
  top: 10px;
  left: 10px;
} */

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
#cy {
  background: white;
}

#cy.dark-mode {
  background: #35363a;

}

.legend {
  padding: 10px;
  height: max-content;
  width: 200px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: var(--primary-color, #2a2a2a);
  border-radius: 10px;
  box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  color: var(--text-color, white);
}

.legendItems{
  width: 100%;
  height: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.legendItems img{
  height: 100%;
}

#filter-container{
  position: absolute;
  /* bottom: 10; */
  top: 64px;
    left: 11px;
}
#filter-toggle{
  position: absolute;
  bottom: 0;
}
#nodeForm{
display: flex;
flex-direction: column;

}

#menu{
  position: absolute;
  /* backdrop-filter: blur(2px); */
  z-index: 1;
  background: var(--primary-color);
  border-radius: 10px;
}

#menu ul li a img{
    width: 25px;
}
#menu ul li a span{
  color: var(--text-color, white);
}

#searchQuery{
    border: none;
    box-shadow: rgba(5, 4, 62, 0.25) 0px 10px 50px 0px;
    border-radius: 10px;
    height: 25px;
    padding: 5px
}


.darkicons
{
  filter: invert(1) sepia(0) saturate(0) hue-rotate(0deg) brightness(100%) contrast(100%);

}

#nodeForm
{
    backdrop-filter: blur(215px);
    border-radius: 6px;
    padding: 10px;
}

#nodeForm input,#nodeForm select,#nodeForm button
{
  border-radius: 5px;
    border: none;
    padding: 2px;
}
#nodeForm button
{
  top: 10px;
  position: relative;
  background: lightgray;
  cursor: pointer
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

*, *:after, *:before {
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  background-color: #f2f5f7;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  /* background-color: #05043e; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.75rem;
  border-radius: 10px;
  box-shadow: 0 10px 50px 0 rgba(5, 4, 62, 0.25);
}
li:nth-child(6) {
  margin-top: 5rem;
  padding-top: 1.25rem;
  border-top: 1px solid #363664;
}
li + li {
  margin-top: 0.75rem;
}
a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 3rem; */
  /* height: 3rem; */
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}
a:hover, a:focus, a.active {
  /* background-color: #30305a; */
  outline: 0;
}
a:hover span, a:focus span, a:focus-within span, a.active span {
  transform: scale(1);
  opacity: 1;
}

a i {
  font-size: 1.375rem;
}
a span {
  position: absolute;
  /* background-color: #30305a; */
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  left: calc(100% + 1.5rem);
  transform-origin: center left;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s ease 0.15s;
}


a span:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  /* background-color: #30305a; */
  left: -5px;
  top: 50%;
  transform: translatey(-50%) rotate(45deg);
  border-radius: 3px;
}
details {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  margin-top: 2rem;
  color: #05043e;
  display: flex;
  flex-direction: column;
}
details div {
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  padding: 1.25rem;
  border-radius: 8px;
  position: absolute;
  max-height: calc(100vh - 100px);
  width: 400px;
  max-width: calc(100vw - 2rem);
  bottom: calc(100% + 1rem);
  right: 0;
  overflow: auto;
  transform-origin: 100% 100%;
}
details div::-webkit-scrollbar {
  width: 15px;
  background-color: #fff;
}
details div::-webkit-scrollbar-thumb {
  width: 5px;
  border-radius: 99em;
  background-color: #ccc;
  border: 5px solid #fff;
}
details div > * + * {
  margin-top: 0.75em;
}
details div p > code {
  font-size: 1rem;
  font-family: monospace;
  color: #185adb;
  font-weight: 600;
}
details div pre {
  white-space: pre-line;
  background-color: #f9f9f9;
  border: 1px solid #95a3b9;
  border-radius: 6px;
  font-family: monospace;
  padding: 0.75em;
  font-size: 0.875rem;
}
details[open] div {
  animation: scale 0.25s ease;
}
summary {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  padding: 0.625em 1.25em 0.625em 1.25em;
  border-radius: 99em;
  color: #fff;
  background-color: #185adb;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: 0.15s ease;
  position: relative;
}
summary::-webkit-details-marker {
  display: none;
}
summary:hover, summary:focus {
  background-color: #1348af;
}
summary i {
  font-size: 1.375em;
  margin-left: 0.25em;
}
@keyframes scale {
  0% {
    transform: scale(0);
 }
  100% {
    transform: scale(1);
 }
}

.showheader {
  width: 26px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(0 0 0/ 40%) 0px 1px 5px !important;
  outline-color: transparent;
  border-radius: 8px;
  border: 0px !important;
  cursor: pointer;
  background-color: rgb(255, 255, 255) !important;
  color: black !important;
  /* top: 40px; */

  position: absolute;
  right: 500px;
  /* margin-top: 30px; */
}
.showheader_Layout {
  box-shadow: 0 1px 5px rgba(223, 152, 152, 0.4) !important;
  outline-color: transparent !important;
  border-radius: 3px !important;
  padding: 2px !important;
  border: 0 !important;
  cursor: pointer;
  background-color: #ffff !important;
  color: black !important;
  z-index: 999;
}

fieldset {
  border: 1px solid black;
  width: 375px;
  margin: 0 auto;
  padding: 20px;
}

legend {
  color: black;
  font-size: 14px;
  font-family: Calibri;
  width: max-content;
  background-color: white;
  margin-top: -11px;
  margin-left: 30%;
}

#legend{
  margin: -12px;
  text-align: center;
  padding: 0px;
  float: none;

}