<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <!-- Loading Animation -->
    <div *ngIf="loaderService.isLoading | async" class="loading-animation animate__animated animate__fadeIn">
        <div class="loading-elements">
            <img src="assets/img/clientlogo.png" alt="User Icon"/>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
    </div>

    <div class="side-nav" id="side-nav">
        <div class="top-section collapsed">
            <div class="app-logo collapsed">
                <a href="/dashboard">
                    <img src="assets/img/clientlogo.png" alt="Logo" class="animate__animated animate__fadeIn">
                </a>
            </div>
            <div class="toggle-switch">
                <span (click)="toggleSwitch()">
                    <i class="fa fa-bars"></i>
                </span>
            </div>
        </div>
        <div class="body-section scrollbar-width-thin hideElement mt-3" >
        </div>
    </div>

    <div class="side-nav-body-content">
        <div class="top-section">
            <div class="top-section-1 animate__animated animate__fadeIn">
                <a href="/dashboard">
                    <img src="assets/img/clientlogo.png" alt="Logo" class="active animate__animated animate__fadeIn">
                </a>
            </div>
            <div class="top-section-2">
                <div class="app-drawer" (click)="toggleAppDrawerDropdown()">
                    <i class="fa fa-th fa-sm"></i>
                    <div id="myDropdown0" class="app-drawer-content">
                    </div>
                </div>
                <div class="user-profile">
                    <div class="row section-0" (click)="toggleUserProfileDropdown()">
                        <img src="{{ this.loggedInImage }}" alt="Logo" class="sideNavPhoto">
                    </div>
                    <div id="myDropdown1" class="user-profile-content">
                        <div class="section-1 my-2">
                            <img src="{{ this.loggedInImage }}" alt="Logo" class="sideNavPhoto">
                            <span *ngIf="loggedInUserFullName != null" class="span-name">{{ loggedInUserFullName }}</span>
                            <span *ngIf="loggedInEmail != null" class="span-email">{{ loggedInEmail }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="body-section">
            <!-- <div class="top-section-breadcrumb animate__animated animate__fadeIn">
                <breadcrumb #parent>
                    <ol class="breadcrumb">
                        <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
                        <li *ngIf="!route.terminal" class="breadcrumb-item">
                            <b (click)="fetchUserAccessRights(route, 'breadcrumb')">{{  route.displayName }}</b>
                        </li>
                        <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">{{ route.displayName }}</li>
                        </ng-template>
                    </ol>
                </breadcrumb>
            </div> -->
            <ng-content></ng-content>
        </div>
    </div>

</body>

</html>
