<span *ngIf="isFromAdvancedSearchForm ==false">
<div class="header-dialog space-between mb-3" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div></div>
    <div class="dialogTitle"></div>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeDialog()"></button>
</div>
</span>

<form [formGroup]="buttonForm">
    <div class="row">
        <span *ngIf="isFromAdvancedSearchForm ==false">
        <div class="col-lg-12">
            <v-input formControlName="buttonId" type="hidden" [parentForm]="buttonForm" fieldName="buttonId"></v-input>
        </div>
        <div class="col-lg-12">
            <v-input formControlName="buttonName" type="text" label="Button Name" required="true" placeholder=""
                [parentForm]="buttonForm" fieldName="buttonName">
            </v-input>
        </div>
        <div class="col-lg-12">
            <v-input formControlName="buttonOrder" type="number" label="Order" required="true" placeholder=""
                [parentForm]="buttonForm" fieldName="buttonOrder">
            </v-input>
        </div>
        <div class="col-lg-12">
            <v-toggle label="Show in Grid" formControlName="isMainPreview" [parentForm]="buttonForm"
                    fieldName="isMainPreview" ></v-toggle>
        </div>

        <div class="col-lg-12">
            <v-toggle label="Mandatory" formControlName="Mandatory" [parentForm]="buttonForm"
                    fieldName="Mandatory" ></v-toggle>
        </div>

        <div class="col-lg-12">
            <v-dropdown formControlName="fieldSet" [dataApi]="AllFieldSet" label="Field Set" placeholder=""
                 [parentForm]="buttonForm" fieldName="fieldSet" required="true">
            </v-dropdown>
        </div>
    </span>
        <div class="col-lg-12">
            <v-input formControlName="nbOfAction" type="number" label="Number of Action" required="true" placeholder=""
                [parentForm]="buttonForm" fieldName="nbOfAction" (input)="onNbOfActionInput()">
            </v-input>
        </div>
        <!-- <div class="col-lg-12" *ngFor="let action of buttonActions; let i = index">
            <v-dropdown [formControlName]="'ButtonAction' + i" [dataJSON]="AllAction" label="Action" placeholder=""
                required="true" [parentForm]="buttonForm" [fieldName]="'ButtonAction' + i" (onChangeEvent)="onActionChange($event, i)">
            </v-dropdown>
        </div> -->

        <div class="row">
            <div class="col-lg-12" *ngFor="let action of buttonActions; let i = index">
              <v-dropdown [formControlName]="'ButtonAction' + i" [dataJSON]="AllAction" label="Action" placeholder=""
                required="true" [parentForm]="buttonForm" [fieldName]="'ButtonAction' + i" (onChangeEvent)="onButtonActionChange($event, i)">
              </v-dropdown>
            </div>
          </div>


        <div class="col-lg-12" *ngIf="FormOpeningSelected">
            <v-dropdown formControlName="Menus" [dataApi]="AllMenus" label="Menus" placeholder=""
                [parentForm]="buttonForm" fieldName="Menus" (onChangeEvent)="showCondition()">
            </v-dropdown>
        </div>
        <div class="col-lg-12" *ngIf="IsAllColumns">
            <v-dropdown formControlName="allcolumnsFormOpening" [dataJSON]="ALLcol" label="Columns" placeholder=""
            [parentForm]="buttonForm" fieldName="allcolumnsFormOpening" [multiple]="true">
        </v-dropdown>
        </div>
        <div class="col-lg-12" *ngIf="ApiSelected">
            <v-input formControlName="procedureName" type="text" label="Procedure Name" placeholder=""
                [parentForm]="buttonForm" fieldName="procedureName">
            </v-input>
        </div>
       
        <!-- <div class="col-lg-12" *ngIf="ApiSelected1">
            <v-input formControlName="url" type="text" label="URL" placeholder=""
            [parentForm]="buttonForm" fieldName="url">
        </v-input> 
    </div>-->


    <div class="row">
        <!-- <div class="col-lg-12" *ngFor="let index of IsReportBuilderArray"> -->
          <v-dropdown formControlName="IsReportBuilder" [dataApi]="ALLReport" label="Report" placeholder=""
            [parentForm]="buttonForm" fieldName="IsReportBuilder">
          </v-dropdown>
        <!-- </div> -->
      </div>

        <div class="col-lg-12" *ngIf="ApiSelected1">
            <v-dropdown formControlName="url" [dataApi]="getApiBuilderListDropDown" label="APIs" placeholder=""
                [parentForm]="buttonForm" fieldName="url" (onChangeEvent)="showApiJsons()">
            </v-dropdown>
        </div>
        <div class="col-lg-12" *ngIf="ApiSelected1">
            <v-dropdown formControlName="allColumns" [dataJSON]="ALLcol" label="Columns" placeholder=""
                [parentForm]="buttonForm" fieldName="allColumns" [multiple]="true" (onChangeEvent)="showCondition()">
            </v-dropdown>
        </div>

 <div class="col-lg-12" *ngIf="showApiBuilderJson">
            <v-input formControlName="requestJson" type="textarea" label="Request Json" placeholder=""
            [parentForm]="buttonForm" fieldName="requestJson" [readonly]="true">
        </v-input>
        </div>
        <div class="col-lg-12" *ngIf="showApiBuilderJson">
            <v-input formControlName="responseJson" type="textarea" label="Response Json" placeholder=""
            [parentForm]="buttonForm" fieldName="responseJson" [readonly]="true">
        </v-input>
        </div>

        <div class="col-lg-12" *ngIf="showApiBuilderJson">
        <div style="position:flex">
        <v-button btnType="form" value="Json Request Relation" (click)="openRelationRequestPopup()" class="submit-button"></v-button>
        <v-button btnType="form" value="Json Response Relation" (click)="openRelationResponsePopup()" class="submit-button"></v-button>
    </div>    
    </div>
        



        <div class="col-lg-12" *ngIf="Condition">
            <v-input formControlName="condition" [parentForm]="buttonForm" type="lookup"
                     [lookupDataApi]="getSourceQuery" lookupWidth="700px"
                     lookupHeight="700px" label="Condition" fieldName="condition">
            </v-input>
        </div>
        <div class="col-lg-12" *ngIf="Condition">
            <v-input formControlName="OtherCondition" [parentForm]="buttonForm" type="lookup"
                     [lookupDataApi]="getSourceQuery" lookupWidth="700px"
                     lookupHeight="700px" label="OtherCondition" fieldName="OtherCondition">
            </v-input>
        </div>
        <div class="col-lg-12" *ngIf="Condition">
            <v-input formControlName="alertValue" type="text" label="Alert Message" placeholder=""
            [parentForm]="buttonForm" fieldName="alertValue">
        </v-input>
        </div>
        <div class="col-lg-12" *ngIf="Condition">
            <v-input formControlName="thirdCondition" [parentForm]="buttonForm" type="lookup"
                     [lookupDataApi]="getSourceQuery" lookupWidth="700px"
                     lookupHeight="700px" label="thirdCondition" fieldName="thirdCondition">
            </v-input>
        </div>
        <div class="col-lg-12" *ngIf="Condition">
            <v-input formControlName="alertMessage" type="text" label="Alert Message" placeholder=""
            [parentForm]="buttonForm" fieldName="alertMessage">
        </v-input>
        </div>
        <div class="col-lg-12" *ngIf="exportSelected">
            <v-input formControlName="Path" type="text" label="Path" placeholder=""
            [parentForm]="buttonForm" fieldName="Path">
        </v-input>
        </div>
    </div>
    <div id="saveButtonId" class="col-lg-12 form-submit text-center">
        <v-button id="buttonSubmitForm" btnActionType="submit" btnType="form" [parentForm]="buttonForm" value="Save"
            (click)="submitForm()"></v-button>
    </div>
</form>



 

<!-- 




<div class="header-dialog space-between mb-3" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
    <div></div>
    <div class="dialogTitle"></div>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeDialog()"></button>
</div>

<form [formGroup]="buttonForm">
    <div class="row">
        <div class="col-lg-12">
            <v-input formControlName="buttonId" type="hidden" [parentForm]="buttonForm" fieldName="buttonId"></v-input>
        </div>
        <div class="col-lg-12">
            <v-input formControlName="buttonName" type="text" label="Button Name" required="true" placeholder=""
                [parentForm]="buttonForm" fieldName="buttonName">
            </v-input>
        </div>
        <div class="col-lg-12">
            <v-input formControlName="buttonOrder" type="number" label="Order" required="true" placeholder=""
                [parentForm]="buttonForm" fieldName="buttonOrder">
            </v-input>
        </div>
        <div class="col-lg-12">
            <v-toggle label="Show in Grid" formControlName="isMainPreview" [parentForm]="buttonForm"
                    fieldName="isMainPreview" (click)="onActionChange()"></v-toggle>
        </div>
        <div class="col-lg-12">
            <v-dropdown formControlName="fieldSet" [dataApi]="AllFieldSet" label="Field Set" placeholder=""
                 [parentForm]="buttonForm" fieldName="fieldSet" required="true">
            </v-dropdown>
        </div>
        <div class="col-lg-12">
            <v-dropdown formControlName="ButtonAction" [dataJSON]="AllAction" label="Action" placeholder=""
                required="true" [parentForm]="buttonForm" fieldName="ButtonAction" (onChangeEvent)="onActionChange()">
            </v-dropdown>
        </div>
        <div class="col-lg-12" *ngIf="FormOpeningSelected">
            <v-dropdown formControlName="Menus" [dataApi]="AllMenus" label="Menus" placeholder=""
                [parentForm]="buttonForm" fieldName="Menus" (onChangeEvent)="showCondition()">
            </v-dropdown>
        </div>
        <div class="col-lg-12" *ngIf="ApiSelected">
            <v-input formControlName="procedureName" type="text" label="Procedure Name" placeholder=""
                [parentForm]="buttonForm" fieldName="procedureName">
            </v-input>
        </div>
       
        <div class="col-lg-12" *ngIf="ApiSelected1">
            <v-input formControlName="url" type="text" label="URL" placeholder=""
            [parentForm]="buttonForm" fieldName="url">
        </v-input>
        </div>
        <div class="col-lg-12" *ngIf="ApiSelected1">
            <v-dropdown formControlName="allColumns" [dataJSON]="ALLcol" label="Columns" placeholder=""
                [parentForm]="buttonForm" fieldName="allColumns" [multiple]="true" (onChangeEvent)="showCondition()">
            </v-dropdown>
        </div>
        <div class="col-lg-12" *ngIf="Condition">
            <v-input formControlName="condition" [parentForm]="buttonForm" type="lookup"
                     [lookupDataApi]="getSourceQuery" lookupWidth="700px"
                     lookupHeight="700px" label="Condition" fieldName="condition">
            </v-input>
        </div>
        <div class="col-lg-12" *ngIf="Condition">
            <v-input formControlName="OtherCondition" [parentForm]="buttonForm" type="lookup"
                     [lookupDataApi]="getSourceQuery" lookupWidth="700px"
                     lookupHeight="700px" label="OtherCondition" fieldName="OtherCondition">
            </v-input>
        </div>
        <div class="col-lg-12" *ngIf="Condition">
            <v-input formControlName="alertValue" type="text" label="Alert Message" placeholder=""
            [parentForm]="buttonForm" fieldName="alertValue">
        </v-input>
        </div>
        <div class="col-lg-12" *ngIf="Condition">
            <v-input formControlName="thirdCondition" [parentForm]="buttonForm" type="lookup"
                     [lookupDataApi]="getSourceQuery" lookupWidth="700px"
                     lookupHeight="700px" label="thirdCondition" fieldName="thirdCondition">
            </v-input>
        </div>
        <div class="col-lg-12" *ngIf="Condition">
            <v-input formControlName="alertMessage" type="text" label="Alert Message" placeholder=""
            [parentForm]="buttonForm" fieldName="alertMessage">
        </v-input>
        </div>
        <div class="col-lg-12" *ngIf="exportSelected">
            <v-input formControlName="Path" type="text" label="Path" placeholder=""
            [parentForm]="buttonForm" fieldName="Path">
        </v-input>
        </div>
    </div>
    <div class="col-lg-12 form-submit text-center">
        <v-button btnActionType="submit" btnType="form" [parentForm]="buttonForm" value="Save"
            (click)="submitForm()"></v-button>
    </div>
</form> -->